# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt


    FREE_AGENT_CREDITI_DISPONIBILI: 210000
    FREE_AGENT_OPERAZIONI_MERCATO_SETTIMANALI: 2
    FREE_AGENT_FINESTRE_MERCATO_STAGIONALI: 5
    FREE_AGENT_SCAMBI_MERCATO: 0
    FREE_AGENT_CAMBIO_ALLENATORE: 1

    GENERAL_MANAGER_CREDITI_DISPONIBILI: 250000
    GENERAL_MANAGER_OPERAZIONI_MERCATO_SETTIMANALI: 2
    GENERAL_MANAGER_FINESTRE_MERCATO_STAGIONALI: 10
    GENERAL_MANAGER_SCAMBI_MERCATO: 3
    GENERAL_MANAGER_CAMBIO_ALLENATORE: 2

    MAX_GIOCATORI: 12
    MAX_PLAYMAKER: 3
    MAX_GUARDIA_ALA_PICCOLA: 4
    MAX_ALA_GRANDE: 2
    MAX_PIVOT: 3
    MAX_ALLENATORE: 1