{% extends "AcmeDemoBundle:Demo:layout.html.twig" %}

{% block body -%}

    {% include 'AcmeDemoBundle:Demo:menu_admin.html.twig' with {'foo': 'bar'} %}




    <div class="m-12 bg-dark-blue">
        <div class="big-heading bg-dark-blue">
            <h1>Nuova Squadra Reale</h1>
        </div>
    </div>


    <section class="bg-dark-blue">

        <div class="m-06">
            <div class="module-content">

                {{ form(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('squadrareale') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Module Content -->
        </div>
        <!-- Module -->



    </section>


{% endblock %}
