{% extends "AcmeDemoBundle:Demo:layout.html.twig" %}

    {% block header %}




        <div class="clearfix header-content">
            <h1>World sport Template</h1>

            <h2>We create sport news</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, placeat, officia, et, quas ipsam
                tempora
                alias libero quaerat beatae pariatur odit recusandae voluptas autem totam similique corrupti ex corporis
                distinctio.</p>

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <label>Email</label>
                <input type="text" name="_username" required="required" />

                <label>Password</label>
                <input type="password" name="_password" required="required" />
                <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                <button type="submit">Submit</button>
            </form>

            <a class="button green-bg" href="http://local.fantabasket.it/web/app_dev.php/secure_area/connect/facebook">facebook</a>
        </div>

    {% endblock %}


