{% extends "AcmeDemoBundle:Demo:layout.html.twig" %}

    {% block header %}




        <div class="clearfix header-content">
            <h1>World sport Template</h1>

            <h2>We create sport news</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, placeat, officia, et, quas ipsam
                tempora
                alias libero quaerat beatae pariatur odit recusandae voluptas autem totam similique corrupti ex corporis
                distinctio.</p>
            <a href="#" class="button yellow-bg">Watch our video</a>
        </div>

    {% endblock %}


